html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  line-height: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.to-freeze {
  overflow: hidden;
}

body {
  color: $text;
  font-size: 16px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  font-family: "Exo 2", serif;
  background-color: $bgColor;
}

.title {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.line {
  width: 100px;
  height: 3px;
  margin: 32px auto;
  background-color: $accent;
  border-radius: 1px;
}
